name: Package & Publish

on:
  release:
    types: [created]

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: Setup Rust environment
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Setup Python environment
        uses: actions/setup-python@v1.1.1
        with:
          python-version: 3.7
      - name: cargo test
        run: | # --release
          cargo test
      - name: AESNI flag
        run: |
          echo "RUSTFLAGS='-C target-feature=+aes,+ssse3' >> $GITHUB_ENV
      - name: maturin build
        run: |
          pip install --upgrade pip
          pip install --no-cache-dir cffi maturin
          maturin build --release
      - name: Publish with Maturin
        run: maturin publish -b cffi --no-sdist -u ${{ secrets.PYPI_USERNAME }} -p ${{ secrets.PYPI_PASSWORD }}
