name: Python Tests

on:
  push:
    branches:
      - master
      - main
    paths:
      - "**.py"
      - ".github/workflows/python-ci.yml"

  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**.py"
      - ".github/workflows/python-ci.yml"

jobs:
  python-tests:
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]
        
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install build tools
        shell: bash -l {0}
        run: |
          pip install -r dev-requirements.txt
          maturin develop -b cffi --release
      - name: Lint, format, and type-check
        shell: bash -l {0}
        run: |
          # Stop the build if there are Python syntax errors or undefined names
          flake8 --config=.flake8 --exclude=./sycret/sycret/,./venv/ .
          black --check . --exclude '/sycret/sycret/*'
          isort --check-only . -s sycret/sycret/ -s venv/
          # Run type checker in CI such that type errors can be identified and gradually addressed.
          # Once all existing type errors are addressed, the `|| echo` after the mypy call can be removed.
          mypy sycret || echo "Type errors found, continuing build..."
      - name: Check docstring coverage
        shell: bash -l {0}
        run: |
          interrogate -mvp sycret/ -f 33.0
      - name: Scan for security issues
        shell: bash -l {0}
        run: |
          bandit -r sycret -ll
      - name: Run tests
        shell: bash -l {0}
        run: |
          pytest test
